{%- if section.settings.text_1 != blank or section.settings.text_2 != blank or section.settings.text_3 != blank -%}
  {%- render 'section-spacing-collapsing' -%}

  <style>
    #shopify-section-{{ section.id }} {
      --section-spacing-inline: 0;
      --scrolling-text-font-size: {% case section.settings.text_size %}
        {% when 'xsmall' %}1.125rem
        {% when 'small' %}2.5rem
        {% when 'medium' %}3.75rem
        {% when 'large' %}5rem
        {% else %}7.5rem
      {% endcase %};
    }

    @media screen and (min-width: 700px) {
      #shopify-section-{{ section.id }} {
        --scrolling-text-font-size: {% case section.settings.text_size %}
          {% when 'xsmall' %}1.5rem
          {% when 'small' %}3.75rem
          {% when 'medium' %}5rem
          {% when 'large' %}8.75rem
          {% else %}12.5rem
        {% endcase %};
      }
    }
  </style>

  {%- if section.settings.text_size == 'xsmall' -%}
    {%- assign is_tight = true -%}
  {%- endif -%}

  <div {% render 'section-properties', tight: is_tight %}>
    {%- capture section_content -%}
      {%- assign texts = '' | split: '' -%}
      {%- if section.settings.text_1 != blank -%}{%- assign texts = texts | push: section.settings.text_1 -%}{%- endif -%}
      {%- if section.settings.text_2 != blank -%}{%- assign texts = texts | push: section.settings.text_2 -%}{%- endif -%}
      {%- if section.settings.text_3 != blank -%}{%- assign texts = texts | push: section.settings.text_3 -%}{%- endif -%}

      {%- for text in texts -%}
        {%- for i in (1..10) -%}
          <span class="scrolling-text__text heading {% unless forloop.first %}motion-reduce:hidden{% endunless %}" {% unless forloop.first %}aria-hidden="true"{% endunless %}>
            {%- render 'styled-text', content: text, gradient: section.settings.text_gradient, style: section.settings.text_style -%}
          </span>
        {%- endfor -%}
      {%- endfor -%}
    {%- endcapture -%}

    <div class="scrolling-text {% if section.settings.scrolling_mode == 'scroll' %}scrolling-text--scroll{% else %}scrolling-text--auto{% endif %}">
      {%- if section.settings.scrolling_mode == 'scroll' -%}
        <visibility-progress class="scrolling-text__wrapper">
          {{- section_content -}}
        </visibility-progress>
       {%- else -%}
         <marquee-text scrolling-speed="{{ section.settings.scrolling_speed }}" class="scrolling-text__wrapper">
           {{- section_content -}}
         </marquee-text>
      {%- endif -%}
    </div>
  </div>
{%- endif -%}

{% schema %}
{
  "name": "Scrolling text",
  "class": "shopify-section--scrolling-text",
  "tag": "section",
  "disabled_on": {
    "groups": ["header", "custom.overlay"]
  },
  "settings": [
    {
      "type": "checkbox",
      "id": "full_width",
      "label": "Full width",
      "default": true
    },
    {
      "type": "text",
      "id": "text_1",
      "label": "Text 1",
      "default": "Promotion text 1"
    },
    {
      "type": "text",
      "id": "text_2",
      "label": "Text 2",
      "default": "Promotion text 2"
    },
    {
      "type": "text",
      "id": "text_3",
      "label": "Text 3",
      "default": "Promotion text 3"
    },
    {
      "type": "select",
      "id": "text_size",
      "label": "Text size",
      "options": [
        { "value": "xsmall", "label": "X-Small" },
        { "value": "small", "label": "Small" },
        { "value": "medium", "label": "Medium" },
        { "value": "large", "label": "Large" },
        { "value": "xlarge", "label": "X-Large" }
      ],
      "default": "large"
    },
    {
      "type": "select",
      "id": "text_style",
      "label": "Text style",
      "options": [
        { "value": "outline", "label": "Outline" },
        { "value": "fill", "label": "Fill" }
      ],
      "default": "fill"
    },
    {
      "type": "select",
      "id": "scrolling_mode",
      "label": "Scrolling mode",
      "options": [
        { "value": "auto", "label": "Automatic" },
        { "value": "scroll", "label": "On scroll" }
      ],
      "default": "auto"
    },
    {
      "type": "range",
      "id": "scrolling_speed",
      "min": 3,
      "max": 20,
      "step": 1,
      "unit": "s",
      "label": "Automatic scrolling speed",
      "default": 10
    },
    {
      "type": "header",
      "content": "Colors",
      "info": "Gradient replaces solid colors when set. Gradient text outline and gradient background cannot be combined."
    },
    {
      "type": "color",
      "id": "background",
      "label": "Background"
    },
    {
      "type": "color_background",
      "id": "background_gradient",
      "label": "Background gradient"
    },
    {
      "type": "color",
      "id": "text_color",
      "label": "Text"
    },
    {
      "type": "color_background",
      "id": "text_gradient",
      "label": "Text gradient"
    }
  ],
  "presets": [
    {
      "name": "Scrolling text"
    }
  ]
}
{% endschema %}